.container{
    width:100%;
    height:auto;
    float:left;
    margin-left:20%;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-left: 35%;
}

.socialaccount_providers{
    list-style-type: none;
}

.socialaccount_providers li a.socialaccount_provider {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.7);
  padding: 10px;
  margin-bottom: 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 1.2em;

}

.socialaccount_providers li a.socialaccount_provider:hover {
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.socialaccount_providers li a.socialaccount_provider.facebook {
  background: #4B67A3; 
  color: #fff;
}
.socialaccount_providers li a.socialaccount_provider.facebook:before {
  font-family: FontAwesome;
  font-size: 1.9em;
  content: "\f082";
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}
  