<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career-Cradle</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
  <nav id="navbar">
    <div id="logo">
        <img src="image/Cc.png" alt="Career-Cradle.com" width="70" height="70">
    </div>
    <ul>
        <li class="item"><a href="#home">Home</a></li>
        <li class="item"><a href="#">Profile</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item"><a href="#">Contact</a></li>
    </ul>
</nav>

<section id="home">
  <h1 class="h-primary">Welcome to Career-Cradle</h1>
  <p>Our Website ‘Career Cradle – A place for Job vacancies and Opportunities’ aims at
    providing information, guidance as well as chances to those who are unable to find or 
    provide jobs. </p>
  <input class="search"  placeholder="🔍 Search Your Job Here" >  
</section>

<section id="trending-container">
  <h1 class="h-primary center">Trending Jobs</h1>
  <div id="trending">
      <div class="box">
          <img src="image/webd.jpg" alt="">
          <h2 class="h-secondary center">Web Developer</h2>
          <p class="center">Web development refers to building, creating, and maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management.</p>
      </div>
      <div class="box">
          <img src="image/data.jpg" alt="">
          <h2 class="h-secondary center">Data Analyst</h2>
          <p class="center">Data analysis is a process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making.</p>
      </div>
      <div class="box">
          <img src="image/mark.jpg" alt="">
          <h2 class="h-secondary center">Marketing</h2>
          <p class="center">Marketing is the activity, set of institutions, and processes for creating, communicating, delivering, and exchanging offerings that have value for customers, clients, partners, and society at large.</p>
      </div>
  </div>
</section>

<section id="trending-container">
  <div id="trending">
      <div class="box">
          <img src="image/acc.jpg" alt="">
          <h2 class="h-secondary center">Chartered Accountant</h2>
          <p class="center">A Chartered Accountant,also known as CPA is a professional accountant qualified to work with a spectrum of accountancy related activities.</p>
      </div>
      <div class="box">
          <img src="image/bnk.jpg" alt="">
          <h2 class="h-secondary center">Banking</h2>
          <p class="center">Banking is an industry that handles cash, credit, and other financial transactions. These loans include home mortgages, business loans, and car loans.</p>
      </div>
      <div class="box">
          <img src="image/block.jpg" alt="">
          <h2 class="h-secondary center">Blockchain Developer</h2>
          <p class="center">Blockchain developers enable secure digital transactions by creating systems to record and store blockchain data in a way that prevents changes or hacks.</p>
      </div>
  </div>
</section>

<footer>
  <div class="center">
      Copyright &copy; www.Career-Cradle.com. All rights reserved!
  </div>
</footer>


</body>
</html>