{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <link rel="stylesheet" href= " {% static 'css/style.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block custom_scripts_n_links %}{% endblock %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="inner-width">
      <div id="logodiv">
        {% if request.user.usertype == 1 %} <!--href will not work in img tag, so enclose img tag in 'a' tag-->
        <img src="{% static 'images/Cc.png' %}" href="{% url 'candidates:home' %}" alt="CareerCradle Logo">
        <!--<a  class="logo"></a>-->
        {% endif %}
        {% if request.user.usertype == 0 %}
        <img src="{% static 'images/Cc.png' %}" href="{% url 'recruiters:home' %}" alt="CareerCradle Logo">
        <!--<a  class="logo"></a>-->
        {% endif %}
      </div>
      <button class="menu-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu">
        {%	if	request.user.is_authenticated	%}	
        <h3><strong>{{request.user.email}}</strong></h3>
        {% endif %}
        
        {% if request.user.usertype == 1 %}
        <a href="{% url 'candidates:home' %}">Home</a>
        <a href="{% url 'candidates:dashboard' %}">Dashboard</a>
        <!--<a href="#Profile">Profile</a>-->
        {% endif %}
        {% if request.user.usertype == 0 %}
        <a href="{% url 'recruiters:home' %}">Home</a>
        <a href="{% url 'recruiters:jobs_posted' %}">Dashboard</a>
        <!--<a href="#Profile">Profile</a>-->
        {% endif %}
        <a href="{% url 'users:aboutus' %}">About</a>
        <a href="{% url 'users:contactus' %}">Contact</a>  
        <a href="{% url 'account_logout' %}">Logout</a>
      </div>
    </div>
  </nav>

  {% block Welcome_block %}
  <!-- Home -->
  <section id="home">
    <div class="inner-width">
      <div class="content">
        <h1>Career Cradle</h1>
        {% if request.user.usertype == 1 %}
        <div id="candidate_tagline">
          <h2>**Make </h2>
        </div>
        {% endif %}
        {% if request.user.usertype == 0 %}
        <div id="recruiter_tagline">
          <h2>**Let's </h2>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endblock %}

  <!--content-->
  <div>{% block content %} {% endblock %}</div> 

  <!-- Footer -->
  <footer>
    <div class="inner-width">
      <div class="copyright">
        &copy; 2021 | Created & Designed By <a href="#"><strong>Career Cradle Team</strong></a>
      </div>
    </div>
  </footer>

  <!-- Go Top BTN -->
  <button class="goTop fas fa-arrow-up"></button>

</body>
</html>